*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

h1{font-size: 3.5em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
p{font-size: 1.50em;}

.botonInicial{
    font-size: 2em;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #77C9D4;
    margin: 5px;
}
.botonInicial:hover{
    background-color: #0ad5f0;
}


.container{
    max-width: 1400;
    margin: auto;
}

header{
    background-color:white;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #062042;
    font-size: 1.45em;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:#07236e;
}

#Panel{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 110vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("img/panel-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Vida .container{
    text-align: justify;
    padding: 100px 12px;
}

#Estudios .container{
    text-align: justify;
    padding: 100px 10px;
}

#Links .container{
    text-align: center;
    padding: 25px 10px;
}

#Links li{
    margin: 16px 0px;
    font-weight: bold
}

footer{
    background-color: #062042;
    color: white;
    font-size: 0.5em;
    padding: 5px 10px;
    text-align: center;
}

footer h3{
    margin: 0;
}
.container #logoimg{
    height: 70px;
    width: 90px;
}

@media (min-width:600px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }
    #Vida .container{
        display: flex;
    }

    #Vida .img-container{
        background-image: url("img/LuisHidalgo.jpeg");
        background-size: cover;
        background-position: center center;
        height: 502px;
        width: 343px;
    }
    #Vida .text{
        width: 80%;
        text-align: justify;
        padding-left: 50px;
        padding-right: 0px;
    }

     }
     .container #logoimg{
        height: 70px;
        width: 120px;
    }
    #Estudios .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Estudios .text{
        width: 100%;
        text-align: justify;
        padding-left: 0px;
    }

    #Estudios h2{
        margin-top: 0px;
    }

    #Estudios .img-container{
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #dFinal .imgdFinal{
        background-image: url("img/dFinal-img.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }
    #dFinal{
        display: flex;
    }
    #dFinal .text{
        padding-right: 50px;
        padding-bottom: 70px;
    }
